@import './var.scss';

body {
  font-family: $base-font-family;
}

.app-main {
  height: 100vh;
  .app-wrapper {
    height: calc(100% - 64px);
  }

  .side-layout {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

.app-content {
  padding: 10px;
}
}
